
/* Basic style for body tags*/
body {
    background-color: #4f72d1;
}
h4 {
    padding: 8px;
}
button {
    border: none;
    background-color: #fff;
    color: #4f72d1;
    border-radius: 5px;
    padding: .8em 1.3em;
    font-size: 17px;
    margin: 4px;
}
/* styleing for score and time bar */
#bar {
    display:table-cell;
    background-color: white;
    justify-content: center;
    width: 10em;
    margin: 0 10em;
    border: 3px solid #000;
    border-radius: 10px;
    
}
/*style for quiz section */
#quiz {
    text-align: center;
}
#quizBody{
    text-align: center;
    padding: 10em;
}

/*button hover styling*/

btton:hover {
    color: white;
    background-color: rgb(70, 63, 63);
    
}

